* {
  font-family: 'Ubuntu Mono', sans-serif;
}

.force-block {
  display: block;
}
.home-container {
  max-width: 100% !important;
}

.lspace-small {
  letter-spacing: 2px;
}
.lspace-large {
  letter-spacing: 5px;
}
